// Variables and functions
@import "components/functions";
@import "variables";

// Base and layouts
@import "base";
@import "breakpoints";


// Colors
@import "components/colors";

// Components (Buttons, cards, navbar)
@import "components/card";
@import "components/buttons";

// Utilities (margins, padding, borderRadius, opacity)
@import "utilities";