@each $key, $value in $colors{

    .text-#{$key}{
        color: $value;
    }

    .bg-#{$key}{
        background: $value;
    }

    // Light variations
    @for $i from 1 through 9{

        .text-#{$key}-light-#{$i}{
            color: mix(#fff, $value,  $i * 10);
        }

        .bg-#{$key}-light-#{$i}{
            background-color: mix(#fff, $value, $i * 10);
        }

    }

    // dark variations
    @for $i from 1 through 9 {

        .text-#{$key}-dark-#{$i} {
            color: mix(black, $value, $i * 10);
        }
        .bg-#{$key}-dark-#{$i} {
            background-color: mix(black, $value, $i * 10);
        }
        
    }

}

